body {
    font-family: Arial, sans-serif;
    background-color:lavender;
}
.contain {
  position: relative;
  width: 360px;
  height:360px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  border-radius:100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 350px;
  width: 350px;
  opacity: 0;
  transition: .5s ease;
  background-color: green;
}

.contain:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
h2{
	font-size: 24pt;
	padding-bottom: 5px;
	border-bottom: 5px solid black;
}

.dash img{
    padding: 30px;
    height:270px;
    width:270px;
}
button{
  border-radius:100%;
}
button:hover {
    opacity: 0.5;
}
